# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ambiente Virtual
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Testes
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache

# Banco de dados
*.db-journal

# Logs
logs/
*.log

# Sistema Operacional
.DS_Store
Thumbs.db

# Relatórios
tests/reports/*.html
tests/screenshots/*.png
